{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width; initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
    

        <title>Payloan | Contact</title>
	<link rel="stylesheet" href="{% static 'form.css' %}">
    </head>
    <body>
        <div class="login">
           <h1>CONTACT US</h1>

<h2>Ikoyi - Head Office</h2>

<p>23, Norman Williams Street, S/W Ikoyi, Lagos</p><br><br>


<h2>Ikeja</h2>

<p>29, Opebi Road, Ikeja, Lagos</p><br><br>

<h2>Ibadan</h2>

<p>67, Mokola - Dugbe Road, Ibadan</p><br>
            <p>contact us using our email address, payloans247@gmail.com</p>


 
            
            </div>
            
    </body>
</html>
