{% extends 'base.html' %}
{% load static %}
{% block main %}
<br>
<br>
<br>
       <div class="loan">
       <h1>GET INSTANT PERSONAL LOAN OF N10,000 TO N1MILLION NAIRA IN LESS THAN 24 HOURS</h1>
           
           <a href="/apply/stage1"><button id="apply">Apply Now</button></a>
        </div>
      <div id="prgh">
          <h2 style="text-align:center; color:#8080ff;">Loan</h2>
Get Instant Personal Loan
N10,000 - N1Million In Less Than 24 Hours.
Apply Now!
Do you have an urgent need for cash to settle bills, 
          take care of emergencies or grab an opportunity? 
          Does payday seem so far and bills are piling up? 
          Don’t worry! Our convenient, secure and instant loans have got you covered.

Apply for a loan now and get the funds in less than 24 hours.
<img src="{% static 'images/give_transp.png' %}">
        </div>
            
        <div id="prgh">
            <h2 style="color:#8080ff; text-align:center;">Repayment</h2>
          Simple Repayment Terms And Rates
There are no hidden charges, our repayment terms are clear and convenient, 
            and you don’t need to have a cheque book.<br>  
	    <img style="padding-left:20px;"src="{% static 'images/invest_transp.png' %}">
            </div>
            
        <div id="prgh">
            <h2 style="text-align:center; color:#8080ff;">No Hidden Charges</h2>
          Hassle Free
Easy to use tools from anywhere. Instant cash immediately your loan is approved . No gimmicks, confusing terms or hidden charges.<br> 
<img style="padding-left:90px;" src="{% static 'images/coin.png' %}">  
        </div>
        
        <div id="prgh">
            <h2 style="text-align:center; color:#8080ff;">Instant Cash</h2>
          Instant Cash
Whenever or wherever you need cash, we’re right there.  
<img style="padding-left:100px;" src="{% static 'images/mobile.png' %}">

           </div>
	   <br>
	   <br>
	   <div style="text-align:center;">
	   <a href="/apply/stage1"><button id="apply">Apply Now</button></a> 
	   </div>
	   <br>
	   <br>
        <div id="contact">
            <li><a id="abt" href="/about">About</a></li>
           <li><a id="abt" href="/contact">Contact</a></li>
            <li><a id="abt" href="/offices">Our Offices</a></li>
            <li><a id="abt" href="/tos">Terms and Conditions</a></li>
            <li><a id="abt" href="/privacy">Privacy policy</a></li>
        </div>

	{% endblock %}


