{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width; initial-scale=1">
        

        <title>Payloan | Privacy</title>
	<link rel="stylesheet" href="{% static 'form.css' %}">
    </head>
 
    <body>
        <div class="login">
        <h1>
            Privacy Policy
        </h1>
            
            <p>Our Privacy Policy
Welcome to Payloan Financial Services Limited (“we” or “us” or “our”). We have described our Privacy Policy as clearly as possible in the summary below. This Policy applies to all existing and former customers and may change from time to time.</p>
<p>
Our privacy policy describes our practices and policy for the collection of Personal Data, usage, processing, storage and disclosure of data. This deals with Personal data in all forms - written, spoken, electronic or printed – which is protected from unauthorized usage on all occasions.</p>
<p>
The processing of your data is carried out by us in full compliance with the provisions of the Nigeria Data Protection Regulation, 2019 (“NDPR”).</p>

Your consent
<p>
By submitting your details and/or using our service you accept this Privacy Policy and expressly provide voluntary, specific and informed consent to the use and disclosure of your Personal Data in the manner described below. You have the right to object to our use of your Personal Data. Depending on the information you object to, we may not be able to proceed with your loan application (s) as certain information is required for the conclusion or performance of this contract and we are obliged by law to obtain same.</p>

<p>Security and Confidentiality</p>

<p>We understand the value of your Personal Data and therefore will take all reasonable steps to protect your Personal Data from loss, misuse or unauthorised alteration.</p>
         </div>
    </body>
</html>
