{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width; initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
    

        <title>Payloan | TOS</title>
	<link rel="stylesheet" href="{% static 'form.css' %}">
    </head>
 
    <body>
        <div style="background-color:black; color:white;" class="login">
        <h1>
            Terms and condition
        </h1>
          
          <p>Payloan Financial Services Limited Web Usage Agreement
Please read this Agreement carefully before accessing Payloan's Website. As a condition to and in consideration of receiving and accessing Payloan's Website, the User agrees to be bound by the terms of this Agreement. Use of or access to this website shall constitute acceptance of and concurrence to be bound by this Agreement.</p>
<p>
If you do not wish to be bound by this agreement, do not access Payloan's Website. If you have any questions about this Agreement, please contact us via e-mail at payloans247@gmail.com
</p>
<p>
This Website is not for use by any minors (defined as those who are not at least 18 years of age), and you must not use this Website if you a minor.
</p>
<p>
THIS AGREEMENT is entered into between Payloan Financial Services Limited (hereafter referred to as “Payloan”) and any individual, corporation, association, agency, company, or other entity (hereafter referred to as “THE USER or YOU”) who accesses or uses Page’s Website (also referred to as “This Website or IT”).</p>
<p>
Payloan's Website, which is provided without charge to you, is a public website on the Internet that is designed to allow Payloan communicates with her users and vice versa. This Website is owned and operated by Payloan Financial Services
</p>
  
         </div>
    </body>
</html>
